<!DOCTYPE html>
<html>
    <head>
        <title>
            A Small Hello
        </title>
    </head>
<body>
    <h1>Hi</h1>
    <p>This is very minimal "hello world" HTML document.</p>
</body>
<form action="/login" method = "post">
  Name<br>
 <input type="text" name="name" value=""><br>
  Age:<br>
 <input type="num" name="age" value=""><br><br>
 Favorite Sofdes Ninja?:<br>
<input type="text" name="ninja" value=""><br><br><br>
 <input type="submit" value="Submit">
 <input type = "hidden" name = "redirect" value = "profile.html"
</form>
</html>
